/* Media queries for 55 Retirement Places - 20161009
   License: Team Trosclair
*/

// Landing page box text at 1140px
@media screen and (max-width: 1140px) {
	.overlay .heading {
		font-size: 1.6em;
	}
}

// Landing page box text at 1030px
@media screen and (max-width: 1030px) {
	.overlay .heading {
		font-size: 1.4em;
	}

	.scrollingBox {
		width:340px;
	}
}

// Go to 2-col setup at 950px
@media screen and (max-width: 950px) {

	.logo {
	  float:none;
	  width: auto;
	}

	.logo h1 {
	  padding-left:0px;
	}
	nav ul {
	  text-align:left;
	  float:none;
	  width: auto;
	}

	nav ul li {
	  //outline: 1px solid green;
	  //display: inline-block;
	  //padding: 7px;
	}

	.communities {
		clear:both;
	  margin:0 auto;
		overflow:auto;
		text-align:left;
		float:none;
		width: 70%;
	}

	.communities .community {
		//border-top: solid 1px #000;
	  //float: none;
		padding: 20px 20px;
		padding-top: 20px;
		padding-bottom: 0px;
		width: auto;
		//text-align:left;
		margin:0 auto;

	}

  .img-container {
  	float: left;
  	margin: .65%;
  	width: 31%;
  }

  .img-container img {
  	width: 100%;
  }

  .box {
    border-radius: 10px;
  	float: left;
  	height: 200px;
  	position: relative;
  }

  .box-1 {
    border-radius: 10px;
  	background-color: red;
  	background-image: url(./images/robson_ranch.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-5 {
  	background-color: red;
  	background-image: url(./images/villas_in_the_park.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-9 {
  	background-color: red;
  	background-image: url(./images/village_at_prestonwood.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-13 {
  	background-color: red;
  	background-image: url(./images/the_legends.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-2 {
  	background-color: green;
  	background-image: url(./images/frisco_lakes_clubhouse.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 2% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-6 {
  	background-color: green;
  	background-image: url(./images/ladera_mansfield.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-10 {
  	background-color: green;
  	background-image: url(./images/villas_of_stone_glen.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-14 {
  	background-color: green;
  	background-image: url(./images/cottages_at_lyndhurst.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-3 {
  	background-color: orange;
  	background-image: url(./images/heritage_ranch.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-7 {
  	background-color: orange;
  	background-image: url(./images/isabella_village_savannah.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-11 {
  	background-color: orange;
  	background-image: url(./images/tuscan_hills.jpg);
  	background-position: center;
  	background-size:cover;
  	margin: 1.5% 1.5% 1.5% 3%;
  	width: 45.5%;
  }

  .box-4 {
  	background-color: blue;
  	background-image: url(./images/craig_ranch.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-8 {
  	background-color: blue;
  	background-image: url(./images/villas_at_willow_grove.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

  .box-12 {
  	background-color: blue;
  	background-image: url(./images/orchard_flower.jpg);
  	background-position: center;
  	background-size: cover;
  	margin: 1.5% 3% 1.5% 1.5%;
  	width: 45.5%;
  }

//listing pages

	.actives-container {
		width:100%;
	}

	.actives-heading {
	  margin-top: 30px;
	}

	.detail-container{
		width: 100%;
		position:relative;
		margin-top: 30px;
		text-align:left;
	}

	.left-col {
		float:none;
		width:100%;
	}

	.sidebarBox {
		position: relative;
		text-align:left;
		margin: 0 auto;
		padding: 40px 20px;
		float:none;
		//width:auto;
		width: 80%;
	}

	.scrollingBox {
	  border-radius:10px;
	  position:relative;
		background-size: cover;
		background-color: rgba(0,0,0,0.2);
	  color:rgba(245,245,220,0.7);
		line-height: 1.3em;
		width:100%;
	}

	.scrollingImg {
		float:left;
		margin: 5px 10px;
	}

	.scrollingImg img{
	  border-radius: 10px;
	  width: 100px;
	  height:150px;
	}

	.scrollingTxt{
	  padding: 10px;
	}

	#headerBar {
	  height: 40px;
	  background: rgba(51,51,51,1);
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
		margin-bottom: 5px;
		text-align: center;
	}

	#headerBar h3{
	  color:rgba(245,245,220,1);
		padding: 10px;
	}

	.main-pic img {
	  //border: 1px solid red;
	  border-radius: 8px;
	  max-width: 80%;
	  min-width: 200px;
	  min-height: 150px;
	}

	.detail-left {
		float:none;
		width:auto;
	}

	.detail-right {
		float:none;
		width:auto;
	}

	.contact-heading {
		font-size: 1.8em;
		text-align: center;
		letter-spacing: .1em;
	}

	.contact-button {
			border-radius: 8px;
			display: block;
			font-size: 1.0em;
			font-weight: 700;
			//background: rgba(245,245,220,1);
			//color: rgba(18, 78, 121,1);
			//border: 2px solid transparent;
			width: 12em;
			margin: 2em auto 0;
			padding: 0.9em 1.25em;
			text-decoration: none;
			text-align: center;
			letter-spacing: .1em;
			background-color: #688d34;
			border: 2px solid #f5f5dc;
			//color: rgba(245,245,220,1);
			color: #f5f5dc;
			text-shadow: 3px 3px 3px black;
	}

	.contact-button:hover {
			background: transparent;
			//border: 2px solid #fff;
			border: 2px solid #f5f5dc;
			border-radius: 8px;
			text-decoration: none;
			text-shadow: 1px 1px 1px black;
			color: #f5f5f5;
	}

	.overlay .heading {
		font-size: 1.6em;
	}

	// Button to view Listings
	.listings-button {
	  margin-top: 15px;
	  //margin-left: 85px;
	}

}



@media screen and (max-width: 490px) {
	.overlay .heading {
		font-size: 1.2em;
	}

	input::-webkit-input-placeholder{
		font-size: .8em;
	}

	input::-moz-placeholder {
		font-size: .8em;
	}

	input::-moz-input {
		font-size: .8em;
	}

	textarea::-webkit-input-placeholder{
		font-size: .8em;
	}

	textarea::-moz-placeholder {
			font-size: .8em;
	}

}



@media screen and (max-width: 420px) {
	.logo {
		float:none;
		width: auto;
	}

	nav {
		position:relative;
	}


	nav ul {
		//outline: 1px solid orange;
		text-align:left;
		float:none;
		width: auto;
	}

	nav ul li {
		//outline: 1px solid green;
		display: block;
		//padding: 7px;
	}

	.actives-heading {
	  margin-top: 10px;
	}

	#app {
			margin-top: 10px;
			padding-top:5px;
	}

	.container-no-pic {
		margin-top: 5px;
	}

	.overlay .heading {
		font-size: .9em;
	}

	#form-submit{
		margin-right: 50px;

	}

	#form-footer {
		font-size:  .9em;
	}

}
