/* Styling for Village at Prestonwood 20170101
   License: Team Trosclair
*/

@import 'reset';
@import 'form';
//@import 'communities';

html, body {
  /*border: 3px solid yellow;  */
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #201d1c;
  //'WhiteSmoke'
  background-color: rgba(245,245,245,1);
  height: 100%;
  margin: 0;
  /*width: 100%;*/
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

/* Navigation */
nav {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  /*display: none;*/
  /*box-sizing: border-box;*/
  font-size: 1.1em;
  font-weight: 500;
  position: fixed;
  top: 0;
  letter-spacing: .2em;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 100;
  width: 100%;

}

nav ul {
  text-align: right;
  float: left;
  width: 70%;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  //margin-right: 0px;
  border-right: 1px solid;
  //padding: 0 20px;

}

nav ul li:last-child {
  border-right: none;
}

nav li a {
  color: rgba(0, 0, 0, 0.75);
  //color:rgba(245,245,220,1);
  text-decoration: none;
}

nav li a:hover {
  //color:rgba(245,245,220,1);
  color: rgba(245,245,245,1);
  border-bottom: 2px solid beige;
  border-top: 2px solid beige;
  padding: 10px 0px;
  text-shadow: 0px 0px 0px black;
}

.left {
  float: left;
  width: 25%;
  padding-left: 25px;
  box-sizing: border-box;
  z-index: 500;
}

.logo {
  float: left;
  width: 25%;
  padding-left: 25px;
  box-sizing: border-box;
  z-index: 500;
}

.logo img {
  width: 100%;
}

.logo img a {
  text-decoration: none;
}

/* Section 1 - Landing */

.sect {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clear:both;
}

.sectOne {
  background-image: url(images/image2.jpg);
  background-color: #D9C7B6;
  background-blend-mode: multiply;
  clear:both;
}

.sectTwo {
  background-image: url(images/image1.jpg);
  background-color: #D9C7B6;
  clear:both;
}

.sectThree {
  background-image: url(images/image3.jpg);
  background-color: #D9C7B6;
  clear:both;
}

#brand-logo {
  /*  margin-top: 15%;*/
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#brand-name {
  //Beige
  color:rgba(245,245,220,1);
  //'WhiteSmoke'
  //color: rgba(245,245,245,1);
  //`Ivory`
  //color:rgba(255,255,240,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 5%;

}

#brand-subtitle {
  /*  margin-top: 15%;*/
  color:rgba(245,245,220,1);
  //'WhiteSmoke'
  //color: rgba(245,245,245,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.subSection {
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5) !important;
  background-image: url(../images/image2.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;*/
  /*background-color: rgba(255, 255, 255, 1) !important;*/
}

.content {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 55px 20px 20px 20px;
    box-sizing: border-box;
}

/* Section 2 - Community */

//.container-section2 {
//  margin: 0 auto;
//  width: 75%;
//


.communityDesc {
  height: 100%;
  //background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
  //Beige
  //background-color:rgba(245,245,220,1);
  //`Ivory`
  //background-color:rgba(255,255,240,1);
  //`WhiteSmoke`
  background-color:rgba(245,245,245,1);
  color: rgba(0,0,0,0.8);
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: .1em;
  /*margin: 10px 10px;*/
  margin: 0 auto;
  clear:both;
  /*float: left;*/
  text-align: left;
  /*margin-top: 06%;*/
  padding-top: 8%;
  padding-bottom: 20%;
  background-size: cover;
  width: 100%;
}

.communityImg {
  //border: 1px solid red;
  //border-radius: 8px;
  //box-shadow: 3px 3px 2px 2px #555;
  float:left;
	width: 50%;
  //margin-top: .2em;
  //margin-right: 1.5em;
  //margin-bottom:.5em;
  margin: 0px 0px 20px 20px;
}

.communityImg img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
}


.communityText {
  //border: 1px solid orange;
  float:right;
	width: 44%;
  margin-right: 2.8em;
  //margin-top: .2em;
  margin-bottom: .5em;
  text-align: left;
  //text-indent: 1em;
}

.communityText img {
  //border: 1px solid blue;
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  float: left;
  margin: 0px 35px 5px 0px;
  width: 35%;
}

.communityText p {
  font-size: .8em;
  line-height: 1.4em;
  letter-spacing: .1em;
  margin: 0px 0px 20px 0px;
}

.communityText h1 {
  margin-bottom: 20px;
}



/* =================================== */
/* Section 2 - Dynamic content section */
/* =================================== */

.top-image-index {
  //border: 2px solid red;
  //Beige
  background-color:rgba(245,245,220,1);
  clear:both;
  overflow:auto;

  width: 100%;
  height: 500px;
  //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-image: url('./images/11_Grounds2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  //margin-top: 1%;
}

.top-image-about {
  //border: 2px solid red;
  //Beige
  background-color:rgba(245,245,220,1);
  clear:both;
  overflow:auto;

  width: 100%;
  height: 500px;
  //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-image: url('./images/1221706854.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  //margin-top: 1%;
}

.top-image-homes {
  //border: 2px solid red;
  //Beige
  background-color:rgba(245,245,220,1);
  clear:both;
  overflow:auto;

  width: 100%;
  height: 500px;
  //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-image: url('./images/12_Home_Exterior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  //margin-top: 1%;
}

.top-image-amenities {
  //border: 2px solid red;
  //Beige
  background-color:rgba(245,245,220,1);
  clear:both;
  overflow:auto;

  width: 100%;
  height: 500px;
  //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-image: url('./images/06_CommunityCenter_Pool3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  //margin-top: 1%;
}

.top-image-neighborhood {
  //border: 2px solid red;
  //Beige
  background-color:rgba(245,245,220,1);
  clear:both;
  overflow:auto;
  width: 100%;
  height: 500px;
  //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
  background-image: url('./images/neighborhood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  //margin-top: 1%;
}


.top-image {
  //border: 4px solid red;
  text-align: center;
  margin-top: 2em;
  //margin-right: 1.5em;
  //margin-bottom:2em;
  //margin: 0px 0px 20px 20px;
  //clear:both;
  //overflow:auto;

  width: 100%;

}

.top-image img {
  //border: 4px solid red;
  //height: 450px;
  //max-width: 100%;
  text-align: center;
  max-width: 50%;
  //width: 60%;
  margin: 0 auto;
  //margin-top: .2em;
  //margin-right: 1.5em;
  //margin-bottom:.5em;
  //margin: 0px 0px 20px 20px;
}

.ammenities-image {
  //border: 1px solid red;
	width: 100%;
  text-align: center;
  //margin: 0 auto;
  margin-top: 1em;
  //margin-right: 1.5em;
  margin-bottom:2em;
  //margin: 0px 0px 20px 20px;
}

.ammenities-image img {
  //border: 1px solid red;
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  height: 450px;
  max-width: 75%;
  text-align: center;
  //margin: 0 auto;
  //margin-top: .2em;
  //margin-right: 1.5em;
  //margin-bottom:.5em;
  //margin: 0px 0px 20px 20px;
}

.dynamicDesc {
  //border: 2px solid red;
  //Beige
  //background-color:rgba(245,245,220,1);
  //`WhiteSmoke`
  background-color:rgba(245,245,245,1);
  //`Ivory`
  //background-color:rgba(255,255,240,1);
  color: rgba(0,0,0,0.8);
  //background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
  //background-color: #201d1c;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: .1em;
  //margin: 10px 10px;
  //margin: 0 auto;
  clear:both;
  //float: left;
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
  background-size: cover;
  width: 100%;
}

.thumbnail-container {
  //border: 2px solid blue;
  //float: left;
  //margin:0 auto;
  //overflow:auto;
  //clear:both;
  width: 100%;
}


.thumbnail-container h1 {
  font-size:  1.7em;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 200%;
  //margin: 20px 20px 20px 25px;
  margin-top: 2%;
  text-align: center;
}

.thumbnail {
  background-color: #444444;
  border-radius: 8px;
  //border: 2px solid red;
  clear: both;
  display:inline-block;
  //float: left;
  margin: 0% 1% 1% 2%;
  padding-top: 1%;
  text-align: center;
  overflow: auto;
  width:21%;

}

.fade {
  //border: 3px solid rgba(0, 0, 0, 0);
  opacity: 1;
}

.fade:hover{
  //border: 1px solid rgba(0, 0, 0, 1);
  opacity: 0.8;

}




.virtual-tour-button {
  border-radius: 8px;
  display: block;
  font-size: 1.347em;
  font-weight: 700;
  width: 10em;
  margin: 2em auto;
  padding: 1em 0.5em;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1em;
  background: transparent;
  //background-color: #688d34;
  border: 2px solid #f5f5dc;
  color: #f5f5dc;
  text-shadow: 3px 3px 3px black; }

.virtual-tour-button:hover {
  //background: transparent;
  background-color: #688d34;
  border: 2px solid #f5f5dc;
  border-radius: 8px;
  color: #f5f5f5;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
}


.container-section2 {
  //outline: 1px solid yellow;
  max-width:85%;
  margin:0 auto;
  //overflow:auto;
  clear:both;
  //margin-top:40px;
  margin-bottom: 40px;
  //margin-left:15%;
  text-align: left;
}

.dynamicImg {
  //border: 1px solid red;
  //border-radius: 8px;
  //box-shadow: 3px 3px 2px 2px #555;
  //float:left;
	//width: 50%;
  //margin-top: .2em;
  //margin-right: 1.5em;
  //margin-bottom:.5em;
//  margin: 0px 20px 20px 20px;
    //padding: 2%;
}

.dynamicImg img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:right;
  margin-right: 6%;
  margin-left: 3%;
  margin-bottom:.75em;
  max-width: 45%;
}

.dynamicImg2 img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:left;
  //margin-top: 1em;
  //margin-right: 1.5em;
  margin-top: .5em;
  margin-bottom:.75em;
  margin-right: 4%;
  max-width: 30%;
}

.dynamicText {
  //border: 1px solid orange;
  //float:right;
	//width: 44%;
  //margin-right: 2.8em;
  //margin-top: .2em;
  //margin-bottom: .5em;
  text-align: left;
  padding-left:  4%;
  //text-indent: 1em;
}

.smallText {
  font-size: .6em;
  line-height: 1em;
  letter-spacing: .1em;
}



//.dynamicText img {
  //border: 2px solid red;
  //border-radius: 8px;
  //box-shadow: 3px 3px 2px 2px #555;
  //float: left;
  //margin: 0px 35px 5px 0px;
  //width: 35%;
//}

.dynamicText p {
  //border: 2px solid red;
  //font-size: .8em;
  //line-height: 1.4em;
  //letter-spacing: .1em;
  font-size: .9em;
  font-weight: lighter;
  line-height: 200%;
  letter-spacing: .05em;
  padding-right: 6%;
}

.dynamicText h1 {
  font-size:  1.7em;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 200%;
  margin: 20px 20px 20px 0px;
}

.dynamicText h2 {
  font-size:  1.3em;
  //font-weight: bold;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 200%;
  margin: 20px 20px 10px 0px;
}

.dynamicText h3 {
  font-size:  1em;
  //font-weight: bold;
  font-weight: normal;
  letter-spacing: .05em;
  line-height: 200%;
  margin: 20px 20px 10px 0px;
}

#dynamic-title {
  font-size:  1.2em;
  font-weight: bold;
}

#dynamic-subtitle {
  font-size:  1em;
  font-weight: bold;
}

.mainParagraph {
  //border: 5px solid red;
  font-size: .8em;
  font-weight: bold;
  padding: 0px 20px 0px 20px;

}

.abbeyImg img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:right;
  margin-right: 6%;
  margin-left: 3%;
  width: 15%;
}

.galleryImg img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:right;
  margin-right: 6%;
  margin-left: 3%;
  width: 12%;
}

.abbeyParagraph {
  //font-size: .8em;
  //font-weight: bold;
  //padding: 0px 20px 30px 20px;
  //line-height: 1.3em;
  //letter-spacing: .1em;
  //padding: 0px 20px 30px 0px;

  font-size: .9em;
  font-weight: lighter;
  line-height: 200%;
  letter-spacing: .05em;
  padding-right: 6%;

}

.amenitiesParagraph {
  margin-top: 8%;
}


.premier-clubParagraph {
  margin-top: 10%;
}

#tours {
  font-size:  1.3em;
  font-weight: bold;
  margin-top: 5%;
}

#abbey-title {
  font-size:  1.1em;
  font-weight: bold;
  margin-top: 3%;
}

#abbey-tour {
  padding-top: 4%;
}

.canterburyParagraph {
  //font-size: .8em;
  //font-weight: bold;
  //padding: 0px 20px 40px 20px;

    //font-size: .8em;
    //font-weight: bold;
    //line-height: 1.3em;
  //  letter-spacing: .1em;
    //padding: 0px 20px 20px 20px;


  font-size: .9em;
  font-weight: lighter;
  line-height: 200%;
  letter-spacing: .05em;
  padding-right: 6%;
}

#canterbury-title {
  font-size:  1.1em;
  font-weight: bold;
  margin-top: 10%;
  padding-bottom: 1%;
}


.canterburyImg img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:left;
  margin-right: 4%;
  margin-bottom: 5%;
  width: 15%;
}

#canterbury-tour {
  padding-top: 4%;
}

.galleryImg2 img {
  border-radius: 8px;
  box-shadow: 3px 3px 2px 2px #555;
  //display: block;
  float:left;
  margin-right: 6%;
  width: 12%;
}

/* =========================== */
/* Section 2 - contactus page */
/* =========================== */
.formDesc {
  //border: 5px solid yellow;
  //background-color:rgba(245,245,220,1);
  //background-color: white;
  color: rgba(0,0,0,0.75);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
  //background-color: blue;
  //background-color: #201d1c;
  //color: beige;
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: .1em;
  //margin: 10px 10px;
  //margin: 0 auto;
  clear:both;
  //float: left;
  text-align: left;
  padding-top: .1%;
  //padding: 2%;
  //padding-bottom: 2%;
  background-size: cover;
  width: 100%;
}


/* Section 3 */

.vpw-heading {
  /*background-color: rgba(255, 255, 255, 0.85);*/
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
  /*border: 1px solid orange;*/
  padding-top: 15%;
  padding-bottom: 15%;
  //Beige
  color:rgba(245,245,220,1);
  //Ivory
  //color:rgba(255,255,240,1);
  font-family: Gotham SSm A, Helvetica, Verdana, sans-serif;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.8em;
  /*padding: 30px;*/
  text-align: center;
  letter-spacing: 2px;
  margin: 0 auto;
  clear:both;
}

/* Section 4 - Contact Info */
.contact-container {
  height: 250px;
  color:rgba(245,245,220,1);
  //color:rgba(255,255,240,1);
  clear: both;
  float: left;
  width: 100%;
  background: #201d1c url("images/office-background.jpg") no-repeat center;
  background-size: cover;
  padding: 4em 0;
  /* this is causing the gap between background images
  margin-top: 2em;
  */
}

.contact-heading {
  color:rgba(245,245,220,1);
    //color:rgba(255,255,240,1);
  font-size: 2.5em;
  text-align: center;
  letter-spacing: .1em; }

.contact-button {
  border-radius: 8px;
  display: block;
  font-size: 1.347em;
  font-weight: 700;
  width: 12em;
  margin: 2em auto 0;
  padding: 1em 0.5em;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1em;
  background-color: #688d34;
  border: 2px solid #f5f5dc;
  color: #f5f5dc;
  text-shadow: 3px 3px 3px black; }

.contact-button:hover {
  background: transparent;
  border: 2px solid #f5f5dc;
  border-radius: 8px;
  color: #f5f5f5;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
}

/* Footer */
footer {
  background-color: #333333;
  background-size: cover;
  clear: both;
  color:rgba(245,245,220,1);
    //color:rgba(255,255,240,1);
  font-size: 1em;
  width: 100%;
  letter-spacing: .2em;
  line-height: 1.7em;
  overflow: auto;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
}

.footer-copyright {
  text-align:center;
  margin-top:25px;
  margin-bottom:25px;
}

.footer-copyright a {
  text-decoration: none ;
  color:rgba(245,245,220,1);
    //color:rgba(255,255,240,1);
  font-size: .8em;
}

.footer-logo-container {
  //outline: 1px solid orange;
  float: left;
  height: 6em;
  text-align: center;
  width: 25%;
  margin: 5px auto;
}

.footer-logo{
  //border: 1px solid green;
  max-height: 45%;
  max-width: 75%;
  //text-align: center;
}

@import 'media';
